# Python
__pycache__/
*.py[cod]

# Environment / secrets
.env
.env.*

# Python virtual environments
venv/
.venv/

# Node
node_modules/
dist/

# Dataset audio
dataset/**/*.wav
dataset/**/*.mp3
dataset/**/*.m4a
dataset/**/*.ogg

# Temporary files
*.tmp
*.temp

# IDE
.vscode/
.idea/
backend/ai_engine/models/voice_detector.pkl